// ion-col {
//   color: #fff;
//   margin: 3%;
// }
.first-col {
  padding-top: 10px;
}
.logo {
  color: #fff;
  margin: 3%;
  font-size: 6vh;
}
.banner {
  width: 30vh;
  height: 15vh;
}

.col-content {
  width: 90px;
  height: 120px;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .col-content {
    width: 105px;
    height: 110px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .col-content {
    width: 150px;
    height: 200px;
  }
}
// .group-notification {
//   width: 12vh;
//   height: 15vh;
//   background-color: red;
//   margin: auto;
//   padding: 10px;
// }

// .first-col {
//   ion-col {
//     margin: 5px;
//     text-align: center;
//     ion-icon {
//       width: 25px;
//       height: 25px;
//     }
//   }
// }
// .wall {
//   width: 100%;
//   height: 100px;
//   background-color: red;
//   position: absolute;
// }
